body {
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    margin: 0;
    color: white;
}

/* nawigacja */
.nawigacja {
    background-color: #0D47A1;
    color: white;
    display: inline-block;
    transition: 300ms;
    margin: 30px;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.left {
    display: inline-block;
    padding: 20px;
    transition: 300ms;
    border-radius: 4px;
    cursor: default;
} .left:hover {
    background-color: #062a5f;
}
footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: 20px;
    bottom: 0;
}
/* kontenery */
.content {
    /* margin: 0 30px; */
    color: white;
}
.polewej {
    border-radius: 4px;
    margin: 30px;
    width: 90%;
    margin: auto;
    transition: 500ms;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.lewy {
    background-color: rgb(22, 59, 24);
} .prawy {
    width: 90%;
    margin: auto;
    transition: 500ms;
    border: 1px;
    border-radius: 4px;
}
.ostatnie {
    background-color: #0D47A1;
}
.blad {
    background-color: #C62828;
}
@media screen and (min-width: 860px) {
    .polewej {
        width: 50%;
    }
    .prawy {
        width: 50%;
    }
    .ostatnie {
        width: 50%;
    }
}
/* wyszukiwarka */
input[type=text] {
    outline: none;
    border: none;
    background-color: #1B5E20;
    color: white;
    width: 100%;
    font-size: 110%;
} 
input[type=text]::placeholder {
    color: #7DA380;
}
.teksik {
    background-color: #1B5E20;
    padding: 15px;
} .lewy > span, h3 {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
}
.szpan {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px
}
#blad {
    position: relative;
    top: -50px;
}
#znalezione {
    background-color: #0D47A1;
}
.karta:hover {
    background-color: #1565C0;
}
.karta {
    transition: 300ms;
    padding-left: 30px;
}
.karta > .glowne {
    display: block;
    padding-top: 10px;
}
/* karta informacyjna */
.hod {
    border: 1px;
    border-radius: 4px;
    background-color: #0D47A1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.buttony {
    display: flex;
}
.butto {
    flex-grow: 1;
    border-radius: 4px;    
    text-align: center;
    padding: 20px;
    margin-bottom: 15px;

}
.header {

    padding: 5px 15px;
} .header > h3{
    padding: 15px;

    margin: 0;
} .gora {
    margin-bottom: 15px;
    display: flex;
} img {
    flex-grow: 1;
    max-width: 150px;
    height: 150px;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 10px;
} .nazwa {
    padding-left: 20px;
    flex-grow: 2;
    display: inline-block;
} .glowne {
    font-size: 150%;
    font-weight: bolder;
} .opis {
    display: inline-block;
    padding-top: 10px;
    max-width: 400px;
    padding-bottom: 10px;
} .point {
    padding: 15px;
    cursor: default;
} .prop {
    float: right;
} .ponts {
    border-radius: 4px;
    border: 1px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* zaawansowane */
.pls {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 1px;
    margin-top: 15px;
    border-radius: 4px;
}

/* kolory */
.lblu { background-color: #0D47A1; transition: 300ms; } 
.blu {    background-color: #1A237E; transition: 300ms; }
.red { background-color: #B71C1C; transition: 300ms; }
.gren { background-color: #1B5E20; transition: 300ms; }
/* przyciemnianie */
.lblu:hover { background-color: #082c63;}
.blu:hover { background-color: #0f1452; }
.red:hover { background-color: #751313; }
.gren:hover { background-color: #0d300f; }